html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.editor {
  flex: 1 1;
}

.statusbar {
  background: #161714;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content:space-between;;
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.ace_gutter-cell {
  font-size: 12px;
  line-height: 24px;
  opacity: 0.3;
}

.pagelist {
  background: #2F3129;
  border-right: 1px solid #21231e;
}

.statusbar > a {
  color: #8F908A;
  text-decoration: none;
}

.statusbar-button {
  color: #8F908A;
  padding: 2px 4px;
  border-radius: 2px;
  background: rgba(255,255,255,.05);
}

.preview {
  flex: 1 1;
  background: white;
  border: none;
}


.Thumbnail {
  width: 100px;
  padding: 16px 16px 0 16px;
  display: inline;
  text-align: center;
}

.Thumbnail--selected {

}

.Thumbnail__image {
  min-width: 20px;
  min-height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 170px;
  display: block;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3)
}

.Thumbnail--selected .Thumbnail__image {
  box-shadow: 0 0 0 2px #F8E71C, 0 1px 3px rgba(0, 0, 0, .3)

}

.Thumbnail__title {
  margin-top: 10px;
  color: rgba(255, 255, 255, .4);
  font-size: 14px;
  font-family: 'Monaco';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
