@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono';


html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.editor {
  flex: 1 1;
}

.toolbar {
  display: flex;
  height: 47px;
  background: #272822;
  z-index: 1;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #21231e;
  font-size: 15px;
  font-family: 'Roboto';
  color: #c1aea7;
}

.toolbar__button {
  text-decoration: none;
  color: #c1aea7;
  cursor: pointer;
  margin: 0 2px;
  padding: 2px 8px;
  border-radius: 3px;
}

.toolbar__home {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  opacity: 0.4;
}

.toolbar__button:hover {
  background: rgba(0, 0, 0, .3);
}

.ace_gutter-cell {
  font-size: 12px;
  line-height: 24px;
  opacity: 0.3;
}

.ace_punctuation + .ace_identifier {
  color: #66D9EF;
}

.ace_editor {
  font-weight: 400;
  font-size: 14.5px;
  line-height: 1.6em;
  font-family: 'Roboto Mono';
}
.ace-monokai .ace_support.ace_constant,
.ace-monokai .ace_support.ace_function,
.ace-monokai .ace_storage.ace_type {
  color: #F92672 !important;
  font-style: normal !important;
}

.pagelist {
  background: #272822;
  border-right: 1px solid #21231e;
}

.preview {
  flex: 1 1;
  background: white;
  border: none;
}


.Thumbnail {
  width: 80px;
  padding: 16px 16px 0 16px;
  display: inline;
  text-align: center;
}

.Thumbnail--selected {

}

.Thumbnail__image {
  min-width: 20px;
  min-height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 136px;
  display: block;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3)
}

.Thumbnail--selected .Thumbnail__image {
  box-shadow: 0 0 0 2px #F8E71C, 0 1px 3px rgba(0, 0, 0, .3)

}

.Thumbnail__title {
  margin-top: 10px;
  color: rgba(255, 255, 255, .4);
  font-size: 15px;
  font-family: 'Roboto';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
