@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.editor {
  flex: 1 1;
}

.modal {
  font-size: 16px;
  font-family: 'Roboto';
}

.modal__content {
  margin-bottom: 16px;
}

.modal__toolbar a{
  padding: 8px 20px;
  background: #eee;
  border-radius: 3px;
}

.modal__toolbar {
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.modal__title {
  font-size: 25px;
  font-weight: 700;
}

.share__linkBlock {
  margin: 40px 0;
}

.share__linkTitle {
  color: #555;
  margin-bottom: 8px;
  font-weight: 400;
}

.share__link {
  color: #1287bf;
  text-decoration: none;
  border: 2px solid #ddd;
  display: block;
  padding: 12px 12px;
  border-radius: 2px;
}

.share__warning {
  color: #aaa;
  margin: 32px 0 16px 0;
  width: 90%;
}

.toolbar {
  display: flex;
  height: 47px;
  background: #272822;
  z-index: 1;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid #21231e;
  font-size: 15px;
  font-family: 'Roboto';
  color: #c1aea7;
}

.toolbar__button {
  text-decoration: none;
  color: #989898;
  cursor: pointer;
  margin: 0 4px;
  padding: 6px 12px;
  border-radius: 3px;
  box-shadow: 0 1px 1px #21231f;
  background: rgb(44, 45, 40);
  user-select: none;
  text-align: center;
}

.toolbar__button:active {
  background: #3a3c34;
}

.toolbar__button.isSelected {
  background: #1f1a1a;
  box-shadow: inset 0 1px 2px #0e0e0e;
}

.toolbar__home {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  opacity: 0.4;
}

.toolbar__button:hover {
  color: #fff;
}

.ace_gutter-cell {
  font-size: 12px;
  line-height: 24px;
  opacity: 0.3;
}

.ace_punctuation + .ace_identifier {
  color: #66D9EF;
}

.ace_editor {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  /*font-family: 'Roboto Mono';*/
}
.ace-monokai .ace_support.ace_constant,
.ace-monokai .ace_support.ace_function,
.ace-monokai .ace_storage.ace_type {
  color: #F92672 !important;
  font-style: normal !important;
}

.pagelist {
  background: #272822;
  border-right: 1px solid #21231e;
}

.preview {
  flex: 1 1;
  background: white;
  border: none;
}


.Thumbnail {
  width: 80px;
  padding: 16px 16px 0 16px;
  text-align: center;
}

.Thumbnail--selected {

}

.Thumbnail__image {
  min-width: 20px;
  min-height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 136px;
  display: block;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3)
}

.Thumbnail__title {
  margin-top: 10px;
  display: inline-block;
  color: rgba(255, 255, 255, .4);
  font-size: 14px;
  font-family: 'Roboto';
  padding: 2px 4px;
}

.Thumbnail--selected .Thumbnail__image {
  box-shadow: 0 0 0 2px #2A9FD8, 0 1px 3px rgba(0, 0, 0, .3);

}

.Thumbnail--selected .Thumbnail__title {
  background-color: #2A9FD8;
  color: #fff !important;
  border-radius: 2px;

}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
